@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Open Course</h1>
   <p>  
    <a class="btn btn-primary"asp-controller="course"asp-action="apply">Şimdi Dene</a> 
   </p>
</div>
    
 

